################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Ocelot/.vs
/Ocelot/GoodAPI/bin/Debug/netcoreapp2.1
/Ocelot/GoodAPI/obj
/Ocelot/OcelotGateWay/bin/Debug/netcoreapp2.1
/Ocelot/OcelotGateWay/obj
/Ocelot/OrderAPI/bin/Debug/netcoreapp2.1
/Ocelot/OrderAPI/obj
